<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- <link href="/mystyle.css" rel="stylesheet" /> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <style>
        .jumbotron {
            border-radius: 0;
        }

        .input-group-text {
            border-right-color: white;
            background-color: white;
        }

        .input-group>input {
            border-left-color: white;
        }
    </style>

    <script>

        function sign_in() {
            let userId = $("#inputId").val();
            let password = $("#inputPassword").val();

            console.log(userId, password)

            $.ajax({
                type: "POST",
                url: "/api/signIn",
                data: {
                    userId: userId,
                    password: password,
                },
                success: function (response) {
                    localStorage.setItem("token", response.token);

                    //로그인에 성공하면, 
                    //전체 게시글 목록 조회 페이지로 이동하기
                    window.location.replace("/");
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    
                    // id, pw 잘못 입력해서 로그인 실패할 때마다 reload되는 화면이 불편하다고
                    // feedback을 받아, 고치게 됨!
                    // window.location.reload()
                },
            });
        }
    </script>

</head>

<body>

    <!-- 제목 -->
    <div class="jumbotron bg-sparta text-white text-center" onclick="window.location.href='/'"
        style="background-color: rgb(161, 140, 114);">
        <h1 class="font-weight-bold">로그인</h1>
    </div>


    <div class="wrap">
        <div class="card mx-auto" style="max-width: 480px">
            <div class="card-body">


                <!-- 아이디 입력하기 -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o"
                                aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="닉네임" aria-label="Username"
                        aria-describedby="basic-addon1" id="inputId" />
                </div>


                <!-- 비밀번호 입력하기 -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"
                                aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="비밀번호" aria-label="Password"
                        aria-describedby="basic-addon2" id="inputPassword" />
                </div>


                <!-- 로그인 누르면 sign_in function으로 가기 -->
                <!-- 회원가입 누르면 signUp page로 가기 -->
                <div class="row d-flex justify-content-around">
                    <!-- 로그인 버튼 -->
                    <div class="col-6 pr-2">
                        <button type="button" class="btn btn-sparta btn-block" onclick="sign_in()">
                            로그인
                        </button>
                    </div>

                    <!-- 회원가입 버튼 -->
                    <div class="col-6 pl-2">
                        <button type="button" class="btn btn-outline-sparta btn-block"
                            onclick="window.location.href='/signUp'">
                            회원가입
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

</html>